/*ALL*/
h3{
    font-family: 'Nunito', sans-serif;
    background-color: black;
    border-bottom: white 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.5rem;
}
a{
    color: rgba(255, 228, 78, 0.966);
}
a:hover{
    color: rgba(255, 228, 78, 0.966);
    text-decoration: none;
}

/*NAVBAR*/
.navPerso{
    background-color: rgb(44, 44, 44);
}
.navItem{
    border: white 3px solid;
    background-color: black;
    color: white;
}
.navItem{
    font-family: 'Nunito', sans-serif;
}

/*BODY*/
body{
    background-color: rgb(44, 44, 44);
    color: white;
}

/*COVER*/
.picture{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 4px solid;
    border-radius: 10px;
    padding: 2rem;
    background-color: rgb(0, 0, 0, 0.5);
}
.seServir{
    color: white;
    font-family: 'Galada', cursive;
    text-shadow: black 2px 0 20px;
    margin-bottom: 2rem;
}
.rouyer{
    color: white;
    font-family: 'Nunito', sans-serif;
    text-shadow: black 1px 0 10px;
    border-top: white 2px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(0, 0, 0, 0.75);
}

/*PRESENTATION*/
#presentation{
    min-height: 40vh;
    padding-top: 8rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.img-thumbnail{
    background-color: transparent;
}
.presTitle{
    margin-bottom: 1rem;
}
.presText{
    line-height: 2rem;
}
.photo{
    margin-left: 1rem;
    max-height: 220px;
}

/*CONTACT*/
#contact{
    min-height: 60vh;
    padding-top: 2rem;
    padding-bottom: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: rgba(255, 255, 255, 0.472) 0.5px solid;
}
.div_contact{
    border: 2px white solid;
    border-radius: 10px;
    background-image: url("../../assets/img/backgrounds/cassis_blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 0;
    padding-left: 0;
}.titleContacts{
    border: none;
}
.contentContact{
    background-color: rgba(44,44,44, 0.9);
    padding: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}
.linkContacts{
    color: rgba(255, 228, 78, 0.966);
    text-decoration: underline;
}
.alert{
    padding: 0;
    color: red;
}

/*QUALITES*/
#qualites{
    background-color: rgb(158, 158, 158);
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: rgba(255, 255, 255, 0.472) 0.5px solid;
}
.div_qualites{
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 2rem;
    padding-bottom: 3rem;
}
.grid{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.titreQualites{
    background-color: black;
    border-radius: 2.5px;
    padding: 0.5rem;
}
.colsQualites{
    margin-top: 1rem;
    line-height: 1rem;
}
.colUp{
    padding-bottom: 2rem;
}
.colDown{
    padding-top: 2rem;
}
.colRight{
    padding-left: 2rem;
}
.bandeLogos{
    background-color: white;
    border-radius: 10px;
    color: black;
}
.logo{
    max-width: 4rem;
    margin-top: 0.5rem;
    margin-right: 1.25rem;
    margin-bottom: 1rem;
}
.logoReact{
    max-width: 6rem;
    margin-bottom: 0.5rem;
}
.btnRecup{
    background-color: rgba(255, 228, 78, 0.966);
    color: rgb(44, 44, 44);
    border: rgb(44, 44, 44) double 1px;
    border-width: 0.25rem;
}
.btnRecup:hover{
    background-color: rgb(44, 44, 44);
    border: rgba(255, 228, 78, 0.966) double 1px;
}

/*PROJECTS*/
#projects{
    padding-top: 9rem;
    padding-bottom: 9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: rgba(255, 255, 255, 0.472) 0.5px solid;
}
.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.bg-text {
    max-height: 30%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.imgPro{
    height: 170px;
}
.vigns{
    margin-top: 5rem;
}
.replierAll{
    margin-top: 5rem;
    padding: 2rem;
    border-top: white 2px solid;
    color: rgb(74, 107, 218);
}
.separate{
    margin: 1rem;
}
.clickVign{
    color: white;
}
.linkVigns{
    color: white;
}
.titleVign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 2px solid;
    padding: 10px;
    background-color: rgba(31, 31, 31, 0.5);
}
.lookProject{
    padding-top: 6rem;
    line-height: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.titreProjects{
    background-color: black;
    border-radius: 2.5px;
    padding: 0.5rem;
}
.audio{
    margin-bottom: 1rem;
}
.replier{
    margin-top: 3rem;
    padding: 2rem;
    border-top: white 2px solid;
    color: rgb(74, 107, 218);
}
.replier:hover{
    cursor: pointer;
}
.replierAll:hover{
    cursor: default;
}

/*CENTRES D'INTERET*/
#hobbies{
    padding-top: 9rem;
    padding-bottom: 9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: rgba(255, 255, 255, 0.472) 0.5px solid;
    background-image: url("../../assets/img/backgrounds/loup.jpg");
}
.rowTitreHobbies{
    margin-bottom: 2rem;
}
.titreHobbies{
    background-color: rgb(44, 44, 44);
    border-radius: 2.5px;
    padding: 0.5rem;
}
.hobbiesRow{
    border-radius: 10px;
}
.imgHobbies{
    max-height: 14rem;
    margin: 1rem;
    border-radius: 5px;
}
.imgUK{
    max-height: 10rem;
    margin: 1rem; 
}
.intermediaire{
    color: rgb(44, 44, 44);
}

/*FORMULAIRE*/
#formSection{
    padding-top: 9rem;
    padding-bottom: 9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: rgba(255, 255, 255, 0.472) 0.5px solid;
}
.form{
    margin-top: 2rem;
    background-color: black;
    border: 2px white solid;
    border-radius: 5px;
    padding: 3rem;
}

/*BONUS*/
#bonus{
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: rgba(255, 255, 255, 0.472) 0.5px solid;
    background-color: rgb(158, 158, 158);
}
.bg-text-bonus{
    max-height: 30%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

}

