/*NAVBAR*/
.navPerso{
    background-color: rgb(44, 44, 44);
}
.navItem{
    border: white 3px solid;
    background-color: black;
    color: white;
}
.navItem{
    font-family: 'Nunito', sans-serif;
}

/*BODY*/
body{
    background-color: rgb(44, 44, 44);
    color: white;
}

/*COVER*/
.picture{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 4px solid;
    padding: 2rem;
    background-color: rgb(0, 0, 0, 0.5);
}
.seServir{
    color: white;
    font-family: 'Galada', cursive;
    text-shadow: black 2px 0 20px;
    margin-bottom: 2rem;
}
.rouyer{
    color: white;
    font-family: 'Nunito', sans-serif;
    text-shadow: black 1px 0 10px;
    border-top: white 2px solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(0, 0, 0, 0.75);
}

/*PRESENTATION*/
#presentation{
    padding-top: 6rem;
    margin: 1rem;
    margin-bottom: 4rem;
}
.img-thumbnail{
    background-color: transparent;
}
.presTitle{
    margin-bottom: 1rem;
}
.presText{
    line-height: 2rem;
}
.photo{
    margin-left: 1rem;
    max-height: 220px;
}

/*CONTACT*/
#contact{
    padding-top: 6rem;
    margin: 1rem;
    margin-bottom: 4rem;  
}
.alert{
    padding: 0;
    color: red;
}

/*QUALITES*/
#qualites{
    padding-top: 6rem;
    margin: 1rem;
    margin-bottom: 4rem;  
}
.grid{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.colUp{
    padding-bottom: 2rem;
}
.colDown{
    padding-top: 2rem;
}
.colRight{
    padding-left: 2rem;
}
.logo{
    max-width: 5rem;
    margin-top: 0.5rem;
    margin-right: 1.25rem;
    margin-bottom: 1rem;
}
.job{
    margin-top: 1rem;
}

/*PROJECTS*/
#projects{
    padding-top: 6rem;
    margin: 1rem;
    margin-bottom: 4rem;  
}
.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.bg-text {
    max-height: 30%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.imgPro{
    height: 170px;
}
.vigns{
    margin-top: 2rem;
}
.separate{
    margin: 1rem;
}
.titleVign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 2px solid;
    padding: 10px;
    background-color: rgba(31, 31, 31, 0.5);
}
.lookProject{
    margin: 1rem;
    margin-top: 2.5rem;
    line-height: 1rem;
}
.replier{
    margin-top: 3rem;
    padding: 2rem;
    border-top: white 2px solid;
    color: rgb(74, 107, 218);
}
.replier:hover{
    cursor: pointer;
}

/*CENTRES D'INTERET*/
#hobbies{
    padding-top: 6rem;
    margin: 1rem;
    margin-bottom: 4rem; 
    line-height: 2rem; 
}
.imgHobbies{
    max-height: 14rem;
    margin: 1rem;
    border-radius: 5px;
}
.imgUK{
    max-height: 10rem;
    margin: 1rem; 
}

/*FORMULAIRE*/
#formSection{
    padding-top: 6rem;
    margin: 1rem;
    margin-bottom: 4rem; 
    line-height: 2rem;    
}
.form{
    background-color: black;
    border: 2px white solid;
    border-radius: 5px;
    padding: 3rem;
}

/*BONUS*/
#bonus{
    padding-top: 6rem;
    margin: 1rem;
    margin-bottom: 4rem; 
    line-height: 2rem;      
}

